.bg-dark {
    background-color: #072040!important;
}
.bg-dark {
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
}
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-dark .navbar-nav .nav-link {
    color: #D9D9D9;
    font-size: 0.75em;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
h1,h2,h3,h4,h5,p {
  color: #072040!important;
}

.navbar-toggler:focus {
    box-shadow: none!important;
}
.btn-primary:hover {
  color: #D9D9D9;
  background-color: #072040;
  border-color: #072040;
}

.btn-primary {
    color: #D9D9D9;
    background-color: #072040;
    border-color: #072040;
}

.btn-primary:active {
    color: #D9D9D9;
    background-color: #072040;
    border-color: #072040;
}

.btn-primary:active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary:focus {
    color: #D9D9D9;
    background-color: #072040;
    border-color: #072040;
    box-shadow: none;
}

.btn-outline-success:hover {
    color: #008037;
    background-color: #D9D9D9;
    border-color: #008037;
}

.btn-outline-success:active {
    color: #008037;
    background-color: #D9D9D9;
    border-color: #008037;
}

.btn-outline-success:active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-outline-success:focus {
    color: #008037;
    background-color: #D9D9D9;
    border-color: #008037;
    box-shadow: none;
}
a {
    color: #0d6efd;
    text-decoration: none;
}
.img_download span {
  cursor: pointer;
}
.img_download span i {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid #008037;
  border-radius: 50%;
  background-color: #008037;
  opacity: 0.6;
  color: #fff;
  padding: 10px
}

.img_download span i:hover {
    opacity: 1;
}

footer .footer1 {
  background-color: #7ED957!important;
  color: #D9D9D9;
}

footer .footer2 {
  background-color: #008037!important;
  color: #D9D9D9;
}

.form-control:focus {
    box-shadow: none;
    border-color: #072040;
}